# hello, you might be forking this. Here is some advice:

# I am using postgres and prisma as well as next-auth for authentication
# prisma expects both a pooling and a non-pooling direct URI
# there is a bug with using a pooling URI atm so I'm only using the DIRECT_URL
# I also have a custom approach to use magic email links.
# This is not the easiest solution to setup, I'd recommend using a simpler provider
# for example Discord oauth

# The topojson data is under /app/[map]/topojson but there is also a script in /lib
# which can fill your postgres instance with all the location starter data

DIRECT_URL="postgresql://"

# if deployed to vercel you don't need to specify the NEXTAUTH_URL
# but it's still needed for local development
NEXTAUTH_URL="https://YOUR_DOMAIN"

# I use R2 for cheap geojson storage
CF_ACCOUNT_ID=
CF_ACCESS_ID=
CF_ACCESS_SECRET=
